@{
    ViewData["Title"] = "Marcas";
}

    <div class="text-center">
        <h1 class="display-4">Marcas introduccidas en nuestro modelo</h1>

        <div class="list-inline-item">
            <div class="card">
                <img src="https://images-na.ssl-images-amazon.com/images/I/81DcBApqazL._AC_SL1500_.jpg" alt="Cruzcampo" style="">
                <h1>Cruzcampo</h1>
                <p>Cerveza marca Cruzcampo</p>
            </div>

            <div class="card">
                <img src="https://images-na.ssl-images-amazon.com/images/I/41Q8lBcVI8L._AC_.jpg" alt="Heineken" style="">
                <h1>Heineken</h1>
                <p>Cerveza marca Heineken</p>
            </div>

            <div class="card">
                <img src="https://images-na.ssl-images-amazon.com/images/I/61VVrn%2Bbx%2BL._AC_SL1200_.jpg" alt="Estrella Galicia" style="">
                <h1>Estrella Galicia</h1>
                <p>Cerveza marca Estrella Galicia</p>
            </div>
        </div>
    </div>
