
@model BeerClassWebApp.Controllers.CreatePost

@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Beer Scan</h1>

        <form asp-action="Index" enctype="multipart/form-data">

            <p>Nombre de la Imagen: <input asp-for="ImageCaption" /></p>
            <p><input asp-for="MyImage" /></p>

            <input type="submit" />
        </form>

    </div>
