@model BeerClassWebApp.Controllers.CreatePost

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Beer Scan</h1>

    @{
        if (Model.ErrorMessage.Length > 0)
        {
            <div class="alert alert-danger" role="alert">
                Ha habido un error procesando la imagen por favor intentelo de nuevo.
            </div>
        }
    }

    <form asp-action="Index" enctype="multipart/form-data">

        <p><input asp-for="ImageCaption" /> Nombre de la Imagen</p>
        <p><input asp-for="MyImage" /></p>

        <input type="submit" />
    </form>
</div>